.product{    
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-end;
    margin:10px;    
    padding:20px;
    max-width:90vw;
    max-height:400px;  
    background-color: white;
    z-index:1;
}

.product__info{
    height:100px;
    margin-top:0;
    padding:0;
    margin-bottom:15px;
    width:100%;
    height: min-content;
    display: flex;
    flex-direction: column;
}

.product__title{
    width:100%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product__rating{
    display:flex;
}

.product>img{
    height:200px;
    width:100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color:#a88734 #9c7e31 #846a29;
    color: #111;
}

.product > button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
  }

.product__price{
    margin-top: 5px;
}

